<script type="text/javascript">
  <% if log_in? %>
    window.currentUser = <%= render("api/sessions/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>

  window.images = {
    profile: "<%=image_path("go.png")%>",
    howItWork1: "<%=image_path("howItWork1.png")%>",
    howItWork2: "<%=image_path("howItWork2.png")%>"
  }

</script>


<div id='main'></div>

<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
