<script type="text/javascript">
  <% if log_in? %>
    window.currentUser = <%= render("api/sessions/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>


<div id='main'></div>

<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
