.body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 24px;
}

.camp-show-page {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-top: 50px;
}

.camp-show-top-block {
  display: flex;
  justify-content: center;
  height: 500px;
}

.camp-show-top {
  display: flex;
  justify-content: space-between;

  width: 1000px;
  height: 400px;
}

.camp-show-video {
  display: flex;
  justify-content: center;
  width: 550px;
  height: 400px;
}

.camp-show-overview {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding: 10px;
}

.camp-show-overview div {
  margin: 10px 0 10px 0;
}

.overview-label {
  color: #0eb4b6;
  border-bottom: 2px solid #0eb4b6;
}

.camp-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.camp-title strong {
  margin: 8px;
}

.camp-show-body-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.camp-show-body {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 50px;
}
.camp-show-story {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 1000px;
}

.camp-show-story span {
  display: block;
  margin-top: 50px;
}

.camp-show-reward {
  display: flex;
  flex-direction: column;
  width: 400px;

}

.show-percent-line {
  width: 300px;
  height: 5px;
}

.percent-goal {
  font-size: 16px;
  margin-left: 30px;
}

.camp-show-overview button {
}

.camp-show-story img {
  width: 560px;
  height: 430px;
}

.camp-show-story span {
  font-size: 20px;
  width: 560px;
}

.overview-tag {
  color: #a8a8a8;
  margin: 20px 0 20px 0;
  font-size: 24px;
  border-bottom: 1px solid Gray;
}

.back-it-button {
  text-align: center;
  background-color: #eb1478;
  color: White;
  height: 40px;
  width: 140px;
}
