.campaign-bar {
  padding: 20px 0;
  width: 20%;
  bottom: 80%;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: $light-blue;
}

.campaign-bar section {
  margin: 5px;
  padding: 5px;
  display: flex;
  border-bottom: 2px solid black;
  width: 80%;
  height: 10%;
  justify-content: center;
}
