.camp-show-page {
  display: flex;
  justify-content: center;
  width: 100%;
}

.body {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 1100px;
  font-size: 24px;
}

.show-left-column {
  display:flex;
  flex-direction: column;
  width: 550px;
}

.overview-tag {
  color: #b3b3b5;
  height: 30px;
  margin-top: 20px;
  border-bottom: 1px solid Gray;
  align-items: baseline;
}

.overview_image_url {
  margin-top: 30px;
}

.overview_image_url img {
  width: 550px;
  height: 400px;
}

.story {
  font-size: 20px;
  margin-bottom: 200px;
}

.show-right-column {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.overview-label {
  height: 30px;
  color: #0eb4b6;
  border-bottom: 2px solid #0eb4b6;
}

.show-camp-title {
  margin-top: 10px;
  font-size: 20px;
}

.show-overview {
  margin: 10px;
  font-size: 16px;
}

.creator {
  font-size: 20px;

}

.creator span:hover{
  text-decoration: underline;
  cursor: pointer;
}

.show-camp-supporter {
  margin-top: 10px;
  font-size: 16px;
  color: #b2b2b2;
}

.show-percent-goal {
  margin-top: 10px;
  font-size: 16px;
  color: #b2b2b2;
}

.show-overview-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  height: 50px;
}

.show-overview-bottom input {
  height: 40px;
  border: 1px solid Gray;
  width: 120px;
  padding-left: 10px;
}

.show-overview-bottom button {
  height: 40px;
  background-color: $logo-pink;
  color: White;
  width: 140px;
  text-align: center;
  border-radius: 2px;
}
