.camp-page{
  display: flex;
  background-color: #fafafa;
  width: 100%;
  font-family: "Benton Sans","Helvetica","sans-serif";

}

.campaign-sidebar {
  color: white;
  justify-content: center;
  width: 250px;
  height: 130vh;
  font-size: 25px;
  background-color: black;
}

.camp-form-title {
  display: block;
  padding-top: 90px;
  width: 250px;;
  height: 100px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
  color: #C8C8C8;
  background-color: #3c3b3d;
}

.form-tabs section {
  display: block;
  width: 250px;
  height: 50px;
  margin: 0 0 20px 0;
  padding-top: 25px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.form-tabs section:hover {
  background-color: #7A69B3;
  cursor: pointer;
}

.camp-com-page{
  font-family: "Benton Sans", "Helvetica", "sans-serif";
  width: 600px;
  padding: 55px;
  padding-left: 120px;
  font-size: 16px;
  justify-content: center;
  margin: 5px;
}

.camp-com-page h2 {
  margin-bottom: 10px;
  font-size: 25px;
}

.label-tag {
  font-family: "Benton Sans","Helvetica","sans-serif";
  display: block;
  font-size: 18px;
  font-weight: lighter;
  line-height: 24px;
  min-height: 24px;
  margin-bottom: 5px;
}

.camp-components .label-tag2 {
  display: block;
  font-family: "Benton Sans","Helvetica","sans-serif";
  font-size: 14px;
  font-weight: lighter;
  line-height: 20px;
  color: #a8a8a8;
  margin: 0 0 10px;
}

.camp-com-page input {
  width: 80%;
  height: 50px;
  padding-left: 10px;
  background-color: #ffffff;
}

.camp-form-location {
  display: flex;
}
.camp-form-location input {
  margin-right: 50px;
  width: 210px;
  height: 50px;
  padding-left: 10px;
}

.camp-form-date {
  display: flex;
}

.camp-page input {
  border: 1px solid #c6c6c6;
}
.camp-page input:focus {
  border-color: black;
}

.camp-form-continue-submit {
  display: flex;
  font-size: 24px;
  margin-top: 70px;
  justify-content: flex-end;
}

.camp-form-button {
  text: $logo-pink;
}
