.carousel-container {
  display:flex;
  background-color: black;
  width: 100%;
  max-height: 370px;
  height: auto;
}

.left-caro {
  display:inline-block;
  width: 30%;
}

.center-caro {
  display: inline-block;
  width: 40%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.carousel-span {
  border: 2px solid White;
  position: relative;
  left: 20px;
  bottom: 60px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  color: $logo-pink;
  display: inline-block;
  z-index: 2;
}

.right-caro {
  display: inline-block;
  width: 30%;
}

.left-caro_image_url {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.left-caro_image_url:hover {
  opacity: 0.8;
  cursor: pointer;
}

.right-caro_image_url {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.right-caro_image_url:hover {
  opacity: 0.8;
  cursor: pointer;
}

.center-caro_image_url {
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.center-caro_image_url:hover {
  cursor: pointer;
  opacity: 0.9;
}


// ------------------------------------------------


.newCaro img {
  min-height: 500px;
  min-width: 1500px;
  height:auto;
  width: 100%;
  display: block;
  object-fit: cover;
  border-bottom: 1px solid #e6e6e6;
}

.view-camp-button{
  position: relative;
  padding: 5px;
  bottom: 70px;
  left: calc(50% - 52px);
  z-index: 1;
  background-color: White;
  border-radius: 4px;
}

.view-camp-button {

}

.caro-img {
  height: 500px;
  width: auto;
  min-width: 1500px;
}
