.header-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  background-color: $lightest-blue;
  font-family: "Benton Sans","Helvetica","sans-serif"
}

.header {
  height: 20%;
}

.right-nav {
  margin-right: 20px;
}

.left-nav {
  margin-left: 50px;
}

.logo {
  font-size: 30px;
  margin: 20px;
  margin-right: 30px;
  color: $logo-pink;
  font-weight: 1;
}

.login-container {
  margin: 10px;
}

.login-form {
  display: block;
  font-size: 18px;
  align-items: center;
}

.login-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form button {
  margin-left: 85px;
}

.signup-container {
  margin: 10px;
}

.signup-form {
  display: block;
  font-size: 18px;
  align-items: center;
}

.signup-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-form button {
  margin-left: 85px;
}

.auth-form {
  display: block;
  font-size: 18px;
  align-items: center;
}

.auth-form li {
  color: red
}

.auth-form span {
  font-size: 20px;
  margin-left: 85px;
}

.modal-style {
  left: 40%;
  right: auto;
  position: absolute;
  display: flex;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 85px;
  background-color: transparentize(#e2ede1, 0);
}

.modal-style button {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
}

.modal-style input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.header-container content {
  margin-top: '20px';
  position: absolute;
}

.header-container h3 {
  display: flex;
}

.header-container span {
  margin: 15px;
  color: black;
}

.header-container span:hover {
  color: $logo-pink;
}

.header-container label {
  margin: 5px;
}

.header-container input {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.header-container button {
  margin: 10px;
  border-radius: 5px;
  color: black;
  width: 100px;
  text-align: center;
}

.header-container button:hover {
  opacity: 0.9;
  color: $logo-pink
}
