.header-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  background-color: #DCECF7;
  font-family: "Benton Sans","Helvetica","sans-serif";
  width: 100%;
  height: 45px;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header {
}

.right-nav {
  padding-top: 12px;
  display: flex;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bolder;
  min-width: 440px;
}

.right-nav div {
  margin-right: 20px;
  display: flex;
  height: 40px;
}

.left-nav {
  margin-left: 50px;
  min-width: 560px;
}

.left-nav span {
  font-size: 14px;
  font-weight: bolder;
}

.logo {
  font-size: 36px;
  margin: 20px;
  margin-right: 30px;
  color: $logo-pink;
  font-weight: Bolder;
  font-family: 'Seymour One', sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid Gray;
  padding-bottom: 20px;
}

.login-form {
  display: flex;
  font-size: 18px;
  justify-content: center;
  flex-direction: column;
}

.login-form input {
  background-color: White;
  border: 1px solid Gray;
  margin: 5px;
  width: 200px;
  height: 40px;
  padding: 10px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid Gray;
  padding-bottom: 20px;
}

.signup-form {
  display: flex;
  font-size: 18px;
  justify-content: center;
  flex-direction: column;
}

.signup-form input {
  background-color: White;
  border: 1px solid Gray;
  margin: 5px;
  width: 200px;
  height: 40px;
  padding: 10px;
}

.signup-form button {
  padding: 5px;
  border-radius: 2px;
  color: White;
  font-size: 20px;
  margin-top: 20px;
  background-color: $logo-pink;
}

.login-form button {
  padding: 5px;
  border-radius: 2px;
  color: White;
  font-size: 20px;
  margin-top: 20px;
  background-color: $logo-pink;
}

.form-button {
  display: flex;
  justify-content: center;
}
.auth-form {
  display: block;
  font-size: 18px;
  align-items: center;
}

.auth-form li {
  color: red
}


.modal-style {
  left: 40%;
  right: auto;
  position: absolute;
  display: flex;
  padding: 10px;
  border: 1px solid Gray;
  margin-top: 85px;
  background-color: lighten(#f5f5f5, 1);
}

.modal-container-inside {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

.modal-container-top {
  display: block;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: Black;
  justify-content: center;
  width: 100%;
}

.modal-container-top {
  display: flex;
  font-size: 20px;
  border-bottom: 1px solid Gray;
}

.modal-container-bottom {
  font-size: 16px;
  padding: 5px;
  border-bottom: 1px solid Gray;
}

.changeAuth-formtype {
  display: flex;
  padding: 10px;
  font-size: 14px;
  color: Gray;
  justify-content: center;
}

.changeAuth-formtype span {
  margin-right: 10px;
}

.changeAuth-formtype button {
  color: #0eb4b6;
}

.header-container content {
  margin-top: 20px;
  position: absolute;
}

.header-container h3 {
  display: flex;
}

.header-container span {
  margin: 15px;
  color: black;
}

.header-container span:hover {
  color: $logo-pink;
}

.header-container label {
  margin: 5px;
}

.header-container input {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.header-container button {
  margin: 10px;
  border-radius: 5px;
  color: black;
  text-align: center;
}

.header-container button:hover {
  opacity: 0.9;
  color: $logo-pink
}

.newCampaign {
  margin-right: 50px;
}

.newCampaign button {
  color: $logo-pink;
}

.header-about {
  font-size: 14px;
  font-weight: bolder;
}
