.index-page {
  display: flex;
  justify-content: center;
  height: 130vh;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: White;
}

.tile:hover{
  cursor: pointer;
  transform: scale(1.1);
}
