.index-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: White;
  margin: auto;
}

.tiles-container {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  min-width: 1100px;
  padding: 0 30px 0 30px;
  margin: auto;
  background-color: #fafafa;
}

.tile:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.index-page a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.tileCarousel {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    min-width: 1200px;
    padding: 0 85px 0 85px;
    margin: auto;
    background-color: #fafafa;
}

.tileCarouselContainer {
  display: flex;
  justify-content: space-between;
}
