.index-page {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  background-color: White;
  margin: auto;
}

.tile:hover{
  cursor: pointer;
  transform: scale(1.1);
}
