.profile-page {
  font-size: 30px;
  flex-direction: column;
  align-items: center;
  font-family: "Antenna Cond Black","Helvetica","sans-serif";
  margin-bottom: 300px;
}

.profile-nav {
  background-color: Black;
  display: block;
  width: 100%;
  color: White;
  height: 30px;
  padding: 10px 0 10px 100px;
}

.profile-nav span {
  margin: 10px;
}

.profile-detail-container {
  width: 70%;
  margin: auto;
}

.profile-content {
  background-color: White;
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 54px;
  font-weight: bold;
  line-height: 74px;
  letter-spacing: 1px;
  padding: 40px 0 40px 0;

}

.component-container{
  display: flex;
  justify-content: center;
}

.content-nav {
  display: block;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
  padding: 10px 0 10px 0;
}

.content-nav span {
  margin-right: 20px;
}

.content-nav span:hover{
  cursor: pointer;
}

.component-profile-container {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.component-profile-pic-container {
  display: flex;
  justify-content: flex-start;
}

.component-profile-pic-container img {
  width: 460px;
  height: 285px;
}

.component-profile-info-container {
  display:flex;
  flex-direction: column;
}

.component-profile-info-container div {
  padding: 20px;
  margin-right: 40px;
  font-size: 20px;
}

.component-campaigns-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.component-campaigns-container h2 {
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}

.component-campaignList-container {
  display: flex;
  flex-direction: column;
}

.component-campaign-detail-container {
  display: flex;
  border-bottom: 1px solid lightgray;
}

.component-campaign-pic-container {
  margin: 30px 0 30px 0;
}

.component-campaign-pic-container img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.component-campaign-info-container {
  margin: 50px 0 30px 30px;
  font-size: 18px;
}

.component-campaign-slogan {
  font-size: 18px;
}

.component-campaign-slogan {
  margin-top: 10px;
  font-size: 16px;
}

.component-campaign-id {
  margin-top: 40px;
}

.component-campaign-id span {
  font-size: 14px;
  color: Gray;
}
