.profile-page {
  font-size: 30px;
  flex-direction: column;
  align-items: center;
  font-family: "Antenna Cond Black","Helvetica","sans-serif";
  margin-bottom: 300px;
}

.profile-nav {
  background-color: Black;
  display: block;
  width: 100%;
  color: White;
  height: 30px;
  padding: 10px 0 10px 100px;
}

.profile-nav span {
  margin: 10px;
}

.profile-detail-container {
  width: 70%;
  margin: auto;
}

.profile-content {
  background-color: White;
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 54px;
  font-weight: bold;
  line-height: 74px;
  letter-spacing: 1px;
  padding: 40px 0 40px 0;

}
//
// .component-container{
//   display: flex;
//   justify-content: center;
// }

.content-nav {
  display: block;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
  padding: 10px 0 10px 0;
}

.content-nav span {
  margin-right: 20px;
}

.content-nav span:hover{
  cursor: pointer;
}

.component-profile-container {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.component-profile-pic-container {
  display: flex;
  justify-content: flex-start;
}

.component-profile-pic-container img {
  width: 460px;
  height: 285px;
}

.component-profile-info-container {
  display:flex;
  flex-direction: column;
}

.component-profile-info-container div {
  padding: 20px;
  margin-right: 40px;
  font-size: 20px;
}

.component-profile-info-container strong {
  font-size: 24px;
  font-weight: bolder;
}

.component-campaigns-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.component-campaigns-container h2 {
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}

.component-campaignList-container {
  display: flex;
  flex-direction: column;
}

.component-campaign-detail-container {
  display: flex;
  border-bottom: 1px solid lightgray;
}

.component-campaign-pic-container {
  margin: 30px 0 30px 0;
}

.component-campaign-pic-container img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.component-campaign-info-container {
  margin: 50px 0 30px 30px;
  font-size: 18px;
}

.component-campaign-slogan {
  font-size: 18px;
}

.component-campaign-slogan {
  margin-top: 10px;
  font-size: 16px;
}

.component-campaign-id {
  margin-top: 40px;
}

.component-campaign-id span {
  font-size: 14px;
  color: Gray;
}

.component-contribution-message {
  margin: 20px 0 20px 20px;
  color: #a8a8a8;
}

.component-contribution-detail-bar {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  border-top: 1px solid Gray;
  border-bottom: 1px solid Gray;
  padding: 20px;
}

.component-contribution-detail-bar span {
  font-size: 20px;
  margin-right: 80px;
}

.component-contribution-List-container {
  display: flex;
  flex-direction: column;
}

.component-contribution-detail-container{
  display: flex;
  font-size: 16px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid lightGray;
}

.component-contribution-detail-container div {
  font-size: 16px;
}

.profile-con-id {
  margin-left: 25px;
}
.profile-con-camp {
  margin-left: 130px;
}
.profile-con-price {
  margin-left: 150px;
}
.profile-con-item {
  margin-left: 100px;
  flex-wrap: wrap-reverse;
}

.component-contribution-detail-container:hover {
  background-color: lightGray;
  cursor: pointer;
}
