.reward-list-container {
  display: flex;
  flex-direction: column;
  font-size: 16;
  justify-content: center;
}

.reward-inside-container {
  padding: 10px;
  border: 1px solid Gray;
}

.show-reward-container {
  margin: 20px;
  width: 350px;
  display:flex;
  flex-direction: column;
  font-family: "Benton Sans Medium", "Helvetica", "sans-serif";
}

.show-perk {
  padding:5px;
  color: #a8a8a8;
  margin: 20px 0 20px 0;
  border-bottom: 1px solid Gray;
  font-size: 24px;
  font-weight: normal;
  line-height: 20px;
}

.show-reward-price {
  margin-left: 10px;
  margin-top: 10px;
}

.show-reward-title {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 16px;

}

.show-reward-description {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
}

.show-reward-item {
  margin: 10px 0 10px 10px;
  font-size: 12px;
}

.show-reward-item strong {
  font-weight: bold;
}

.est-delivery {
  display: flex;
  justify-content: center;
  font-size: 16px;
  background-color: #d9d9dd;
  height: 40px;
  align-items: center;
}

.est-delivery:hover {
  background-color: $logo-pink;
  color: White;
  cursor: pointer;
}


.story-tag {
  padding:5px;
  color: #a8a8a8;
  margin: 20px 0 20px 0;
  border-bottom: 1px solid Gray;
  font-size: 24px;
  font-weight: normal;
  line-height: 20px;
}
