.tile-container {
  border: 1px solid #dee0e2;
  margin: 30px 0 30px 0;
  width: 200px;
  height: 480px;
  flex-direction: column;
  font-family: "Benton Sans Medium", "Helvetica", "sans-serif";
  justify-content: space-around;
}

.tile-bottom {
  padding-bottom: 15px;
}

.tile-container img {
  width: 200px;
  height: 240px;
}

.percent-line {
  width: 160px;
  margin: 10px;
}

.tile-info {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 10px;
}

.tile-info span {
  margin: 3px;
  font-size: 14px;
}

.tile-contribution {
  font-size: 16px;
}

.tile-contribution span {
  font-weight: bold;
}

.tile-info-bottom {
  Color: #adadad;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.tile-slogan {
  font-size: 16px;
}
