.tile-container {
  border: 1px solid Gray;
  margin: 30px;
  width: 230px;
  height: 460px;
  flex-direction: column;
}

img {
  width: 230px;
  height: 280px;
}

.percent-line {
  width: 160px;
  margin: 10px;
}

.tile-info {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  height: 200px;
}

.tile-info span {
  margin: 3px;
}
